# ------------------------------------------------------------------
# Core libraries
PyYAML
alembic
annotated-types
anyio
asyncio
certifi
cffi
click
cryptography
exceptiongroup
fastapi
greenlet
h11>=0.16
httpcore
httpx
mcp>=2.2,<3
idna>=3.18,<4
iniconfig
jinja2
mypy
mypy-extensions
numpy
packaging
pluggy
pycparser
PyMySQL
pytest>=7.0.0
python-dotenv
python-multipart
requests
sniffio
SQLAlchemy
sse_starlette==3.0.3
starlette
sympy
tenacity
typing
typing_extensions
validators~=0.34.0
websockets
redis

# ------------------------------------------------------------------
# Platform-specific tools
pywin32>=311 ; sys_platform == "win32"

# ------------------------------------------------------------------
# These have been removed because we no longer use third party clients
# Inference providers
# azure-core
# azure-ai-inference
# google-generativeai
# groq
# openai
# ------------------------------------------------------------------
# Samba
pysmb
# ------------------------------------------------------------------
# Security
bcrypt==4.0.1
passlib==1.7.4
pydantic>=2.12,<3
