include README.md
include api_unhashed_reqs.txt
include api_unhashed_reqs.txt
include sandbox_reqs_unhashed.txt
include sandbox_reqs_hashed.txt
include training_reqs_unhashed.txt
recursive-include entities_api *